:root {
  font-family: "Lato", "Helvetica Neue", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
  color-scheme: light dark;
  color: #fff;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --blue: #1d6084;
  --red: #983d38;
  --green: #006b4b;
  --gray: #394955;
  --light-gray: #9cadbc;
  --background: #fffcc3;
  --darkOrange: #824d0d;
}

body {
  color: white;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
